* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    /*para resetar los valores*/
    html {
    font-size: 62.5%;
    }
    /* para medida rem*/

    header{
        display: flex;
        background-color: white;
        height: 150px;
    }

    header div:nth-child(1){
        background-color: white;
    }
    
    header div:nth-child(1){

    }

    .logo_header{
        height: 150px;
    }

    body {
        background-color: lavender;
    }