:root{
    --white2: #F4F4F2;
    --red: #C85C5C;
    --orange: #F9975D;
    --yellow: #FBD148;
    --green: #B2EA70;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    /*para resetar los valores*/
    html {
    font-size: 62.5%;
    }
    /* para medida rem*/

    header{
        display: flex;
        justify-content: space-between;
        background-color: white;
        height: 150px;
    }

    header div:nth-child(1){
        background-color: white;
        width: 240px;
    }
    
    nav{
        display: flex;
        justify-content: center;
        background-color: white;
        width: calc(100% - 240px);
        position: fixed;
        right: 0;
        border-radius: 10px;
        height: 150px;
        /* align-self:flex-start; */
        align-items:center;
    }

    .logo_header{
        height: 150px;
    }

    .nav_list{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        height: 150px;
        width: 80px;
    }

    ul li{
        text-align: center;
    }

    .registro {
        background-color: var(--orange);
        color: var(--white2);
        border-radius: 4px;
        padding: 1.5px;
        font-size: 1.4rem;
        margin-left: 3px;
    }

    header nav a {
        color: darkslategray;
        text-decoration: none;
        font: 1.4rem 'Outfit', sans-serif;
        padding: 0.5rem;
    }

    header nav a:hover{
        color: white;
        background-color: var(--orange);
        border-radius: 4px;
        cursor: pointer;
    }

    body {
        background-color: var(--white2);
        font-family: 'Outfit', sans-serif;
    }

    footer {
        display: flex;
        width: 100%;
        height: 150px;
        background-color: var(--green);
        color: var(--white2);
    }